# build output
dist

# dependencies
node_modules/
.snowpack/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# vscode settings and dictionaries
.vscode

# webstorm settings and dictionaries
.idea

# astro build files
.astro

# Vercel build output (built by Vercel CI, not committed)
.vercel/output
# Local Netlify folder
.netlify
