// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------


$colors: (
  primary: (
    100: hsl(261, 100%, 98%),
    200: hsl(261, 100%, 95%),
    300: hsl(261, 100%, 90%),
    400: hsl(261, 62%, 36%),
    500: hsl(261, 62%, 24%),
  ),
  secondary: (
    100: #8C3974,
    200: #8C3974,
    300: #8C3974,
    400: #8C3974,
    500: #8C3974,
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),

  background: (
    100: #13111A,
    200: hsl(210, 8%, 22%),
    300: hsl(212, 9%, 31%),
    400: hsl(208, 6%, 55%),
    500: hsl(205, 12%, 88%),
    600: hsl(200, 12%, 95%),
    700: hsl(200, 23%, 97%),
    800: hsl(0, 0%, 100%),
    900: hsl(261, 100%, 98%),
  ),

  gradient: (
    100: linear-gradient(90deg,  var(--primary-500), 0%, var(--secondary-100) 100%),
    200: linear-gradient(90deg,  var(--primary-400), 0%, var(--secondary-200) 100%),
  ),
);
