// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

@use 'color' as *;

:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;

  body {
    background-color: var(--background-100);
    overflow-x: hidden;
    max-width: 100vw;
  }

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
}
