---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import News from '../components/news.astro'
import { Icon } from 'astro-icon/components'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import Button from '../components/Button.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-4xl md:text-6xl">Was wir machen</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="ion:diamond-outline" title="Workshops & Events">
          Wir lernen gemeinsam von Expert:innen & Peer-to-Peer über Startups und Entrepreneurship.
        </Feature>
        <Feature icon="ion:document-attach-outline" title="Fact-Sheet">
          Wir analysieren die Angebote zum Thema Entrepreneurship an der Leuphana Universität.
        </Feature>
        <Feature icon="ion:flame-outline" title="Hackathon">
          Wir veranstalten einen Hackathon, um innovative Ideen zu entwickeln und zu testen.
          Wir organisieren 2-3 tägige Events, um in kurzer Zeit Startup Ideen auszuarbeiten.
        </Feature>
        <Feature icon="ion:mic-outline" title="IGNITE Podcast">
          Im Utopia interviewen wir Startup Gründende und Leuphana Alumni.
        </Feature>
        <Feature icon="ion:people-outline" title="Community">
          Wir verbinden Studierende, Alumni und Gründende mit dem Ziel, ein starkes Netzwerk aufzubauen.
        </Feature>
        <Feature icon="ion:cash-outline" title="IGNITE Stipedium">
          Wir ermöglichen angehendenden Gründenden einen Co-Working Platz und Förderung im Utopia.
        </Feature>
      </div>
    </div>
  </section>
  <section>
  <News />
</section>
  <!-- <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Absichtserklärung</h2>
    <p class="text-2xl">
      Ganz im Sinne der führenden Hochschulen setzen auch wir uns dafür ein, Gründungsgeist und Startup-Kultur an der Leuphana aktiv zu leben und langfristig zu etablieren. Bereits über 50 Uni-Mitglieder haben unsere Absichtserklärung unterzeichnet – sei dabei und gestalte mit uns die Gründerlandschaft von morgen!
    </p>

    <a class="button secondary has-icon max-w-max" href="/team">
      <Icon name="ion:pencil-outline" />
      Jetzt lesen!
    </a>

  </ContentMedia> -->
  <section class="my-64">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2 class="text-6xl">FAQ</h2>
        <p class="text-2xl">
          Häufig gestellte Fragen zu IGNITE.
        </p>
        <a class="button color-secondary" href="/kontakt">Nimm Kontakt auf!</a>
      </div>
      <div class="space-content">
        <Accordion>
          <AccordionItem name="exclusive" title="Warum IGNITE?">
            <p>
              Weil wir als Brücke zwischen Leuphana und der Startup-Szene hands-on Erfahrungen, ein starkes Netzwerk und echte Mitgestaltungschancen bieten – hier entsteht deine Gründerzukunft.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Welche Erwartungen stellen wir an die Mitglieder?" open>
            <p>
              Der durchschnittliche Aufwand liegt bei etwa 3–5 Stunden pro Woche – je nach Projektphase etwas mehr oder weniger. Wir erwarten regelmäßige Teilnahme an Team-Meetings, aktive Projektarbeit und proaktive Kommunikation.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Wie profitiere ich von meinem Ehrenamt?">
            <p>
              Du erhältst exklusiven Zugang zu Unternehmen, Gründer:innen, Investor:innen und Alumni, nimmst an praxisorientierten Workshops teil und erhältst individuelles Feedback in Mentoring-Sessions.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Wie läuft der Bewerbungs- und Onboarding-Prozess ab?">
            <p>
              Du füllst das Online-Formular auf unserer Website aus, bekommst eine Rückmeldung per E-Mail mit Einladung zum persönlichen Gespräch und startest nach positiver Entscheidung mit einem strukturierten Onboarding.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Welche Rollen und Gremien gibt es innerhalb der Initiative?">
            <p>
              Wir arbeiten in projektbezogenen Teams, die sich um verschiedene Themen kümmern, wie z.B. Workshops, Events, Podcast, Community-Building. Jedes Team hat eine:n Teamleiter:in, die/der für die Koordination verantwortlich ist.
            </p>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </section>
</DefaultLayout>
