---
import Navigation from '../components/Navigation.astro'
import { DarkMode } from 'accessible-astro-components'
import { SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

export const prerender = false
---

<header style="z-index: 100;">
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Startseite</a>
    </li>
    <!-- <li class="menu-item">
      <a href="/blog/">Unterstützende</a>
    </li> -->
    <li class="menu-item">
      <a href="/news/">Neuigkeiten</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Events</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/IGNITEWorkshops/">IGNITE Workshops</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/"></a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">IGNITE Venture Building</a>
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        margin-top: -4px;
        width: 30px;
        height: auto;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
