---
import { Icon } from 'astro-icon/components'

const {} = Astro.props
---

<section class="hero relative my-24 overflow-visible">
  <!-- Blurred Dots -->
  <div class="inset-0 z-[-10] overflow-hidden pointer-events-none">
    <div class="absolute w-[35vw] h-[35vw] z-[-10] rounded-full opacity-80 md:opacity-60 blur-[80px] bg-[#9b5de5] animate-dotPurple top-[10%] left-[10%] md:block"></div>
    <div class="absolute w-[35vw] h-[35vw] z-[-10] rounded-full opacity-80 md:opacity-60 blur-[80px] bg-[#f15bb5] animate-dotPink bottom-[10%] right-[10%] md:block"></div>
  </div>

  <div class="container relative z-10">
    <div class="grid grid-cols-1 items-center gap-24">
      <div class="flex flex-col items-center gap-8">
        <h1 class="text-center text-4xl sm:text-5xl lg:text-7xl font-extrabold">
          <slot>
            Dein <span class="text-gradient">Gründungsfunken</span> an der Leuphana Universität
          </slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row rounded-full p-1">
          <a class="button secondary size-large has-icon" href="/mitmachen">
            <Icon name="ion:people-outline" />
            Mitmachen
          </a>
          <!-- <a class="button secondary size-large has-icon" href="/kontakt">
            <Icon name="ion:mail-outline" />
            Kontakt
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* TEXT-GRADIENT */
.text-gradient {
  color: var(--primary-400);
  background: linear-gradient(315deg, var(--primary-300), var(--secondary-200));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  @keyframes dotPurple {
    0% { transform: translate(0, 0); }
    25% { transform: translate(50px, 20px); }
    50% { transform: translate(100px, -20px); }
    75% { transform: translate(70px, 30px); }
    100% { transform: translate(0, 0); }
  }
  @keyframes dotPink {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-50px, -30px); }
    50% { transform: translate(-100px, 10px); }
    75% { transform: translate(-60px, -50px); }
    100% { transform: translate(0, 0); }
  }
  .animate-dotPurple {
    animation: dotPurple 60s ease-in-out infinite;
  }
  .animate-dotPink {
    animation: dotPink 60s ease-in-out infinite 5s;
  }
</style>
