---
import { Card } from 'accessible-astro-components'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import ContentMedia from './ContentMedia.astro'

// Fetching collection for 'projects'
const news = await getCollection('projects')  // Fetch projects from your content directory
---

<section class="my-12">
  <div class="space-content container">
    <h1>News aus unserer Community</h1>
    <p class="text-2xl">
    Erfahre mehr und bleibe auf dem Laufenden.
    </p>
  </div>
</section>

<section class="my-12">
  <div class="container">
      {
        news && news.length > 0 ? (
        <ContentMedia imgSrc={news[0].data.image || '/default-image.jpg'} cta="Mehr lesen!" cta_link="/news">
            <h2>{news[0].data.title || 'No title available'}</h2>
            <p>{news[0].data.description || 'No description available'}</p>
            <p>{'Author: ' + (news[0].data.author || 'N/A')} - {new Date(news[0].data.date).toLocaleDateString('de-DE', { year: 'numeric', month: 'long', day: 'numeric' })}</p>
        </ContentMedia>
        ) : (
          <p>No news available.</p>
        )
      }
  </div>
</section>
