---
import DefaultLayout from './DefaultLayout.astro'
const { frontmatter } = Astro.props
---

<DefaultLayout 
  title={frontmatter.title} 
  description={frontmatter.description?.substring(0, 160) ?? 'Ignite Startup Club Lüneburg'}>
  <div class="container">
    <div class="space-content my-12">
      <slot />
    </div>
  </div>
</DefaultLayout>
